@mixin font($name, $url, $weight: normal, $style: normal) {
    @font-face {
        font-family: $name;
        font-style: $style;
        font-weight: $weight;
        src: url($path-font + $url + ".woff") format("woff"),
        url($path-font + $url + ".eot") format("embedded-opentype"),
        url($path-font + $url + ".ttf") format("truetype"),
        url($path-font + $url + ".svg") format("svg");
    }
}
@include font('SourceSansPro', 'SourceSansPro');
@include font('SourceSansPro-b', 'SourceSansPro-b');
