$black            : #333 !default;
$white            : #fff !default;
$grey             : #f0f3f7 !default;
$blue             : #164194 !default;

$base-color       : $black;
$primary-color    : $blue;
$secondary-color  : $grey;

$base-fs          : 14px !default;
$base-fs-tablet   : 14px !default;
$base-fs-mobile   : 14px !default;
$title-fs         : 20px !default;
$subtitle-fs      : 18px !default;

$base-ff          : "SourceSansPro", "Arial", "Helvetica", sans-serif;
$bold-ff          : "SourceSansPro-b", "Arial", "Helvetica", sans-serif;
$title-ff         : $bold-ff;
$base-lh          : 1.3;

$gutter           : 20px !default;
$gutter-xs        : $gutter / 2 !default;
$gutter-xl        : $gutter * 2 !default;
$ie               : .1px;

$desktop          : 1280px !default;
$laptop           : 1024px !default;
$tablet           : 768px !default;
$mobile           : 500px !default;
$wrapper          : $laptop !default;

$path-font        : '../font/' !default;
$path-img         : '../img/' !default;

%clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin wrapper() {
    .wrapper {
max-width         : $wrapper;
width             : 100%;
margin            : 0 auto;
@media (max-width : $desktop) {
width             : 100%;
        }
    }
}